.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    max-width: 1500px;
    margin: auto;
  }
  
  .about-image img {
    width: 100%;
    max-width: 1000px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .about-content {
    max-width: 600px;
  }
  
  .about-content h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify; /* Setzt den Text im Blocksatz */
  }
  
  /* Responsive Design, damit Bild erst bei breiten Fenster neben Text */
  @media (max-width: 1000px) {
    .about-container {
      flex-direction: column;
      text-align: center;
    }
  
    .about-image img {
      max-width: 100%;
    }
  }
  